.header-wrapper {
  display: contents;
}
 
.header-header {
  width: 100%;
  height: 80px;
  display: flex;
  z-index: 3;
  position: fixed;
  padding-left: var(--dl-layout-space-halfunit);
  padding-right: var(--dl-layout-space-halfunit);
  justify-content: center;
  background-image: linear-gradient(to bottom, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 100%);
}
 
.header-nav {
  flex: 0 0 auto;
  color: var(--dl-color-secondary-600);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unitandahalfunit);
  padding-right: var(--dl-layout-space-unitandahalfunit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-halfunit);
  justify-content: space-between;
}
 
.header-container1 {
  color: var(--dl-color-gray-black);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.header-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.header-image1 {
  width: 36px;
  filter: invert();
  height: 36px;
}
 
.header-link1 {
  color: var(--dl-color-gray-white);
  font-family: "Noto Sans";
  font-weight: 600;
  margin-left: 1vw;
  text-decoration: none;
}
 
.header-desktop-menu1 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-end;
}
 
.header-link2 {
  color: white;
  font-size: 0.875rem;
  font-style: normal;
  margin-top: var(--dl-layout-space-halfunit);
  transition: 0.3s;
  font-family: "Exo 2";
  font-weight: 600;
  margin-left: var(--dl-layout-space-unit);
  margin-right: var(--dl-layout-space-unit);
  margin-bottom: var(--dl-layout-space-halfunit);
  letter-spacing: -0.025rem;
  text-transform: none;
  text-decoration: none;
}
 
.header-link2:hover {
  color: var(--dl-color-gray-500);
}
 
.header-link3 {
  color: white;
  font-size: 0.875rem;
  font-style: normal;
  margin-top: var(--dl-layout-space-halfunit);
  transition: 0.3s;
  font-family: "Exo 2";
  font-weight: 600;
  margin-left: var(--dl-layout-space-unit);
  margin-right: var(--dl-layout-space-unit);
  margin-bottom: var(--dl-layout-space-halfunit);
  letter-spacing: -0.025rem;
  text-transform: none;
  text-decoration: none;
}
 
.header-link3:hover {
  color: var(--dl-color-gray-500);
}
 
.header-link4 {
  color: white;
  font-size: 0.875rem;
  font-style: normal;
  margin-top: var(--dl-layout-space-halfunit);
  transition: 0.3s;
  font-family: "Exo 2";
  font-weight: 600;
  margin-left: var(--dl-layout-space-unit);
  margin-right: var(--dl-layout-space-unit);
  margin-bottom: var(--dl-layout-space-halfunit);
  letter-spacing: -0.025rem;
  text-transform: none;
  text-decoration: none;
}
 
.header-link4:hover {
  color: var(--dl-color-gray-500);
}
 
.header-link5 {
  color: white;
  font-size: 0.875rem;
  font-style: normal;
  margin-top: var(--dl-layout-space-halfunit);
  transition: 0.3s;
  font-family: "Exo 2";
  font-weight: 600;
  margin-left: var(--dl-layout-space-unit);
  margin-right: var(--dl-layout-space-unit);
  margin-bottom: var(--dl-layout-space-halfunit);
  letter-spacing: -0.025rem;
  text-transform: none;
  text-decoration: none;
}
 
.header-link5:hover {
  color: var(--dl-color-gray-500);
}
 
.header-link6 {
  color: white;
  font-size: 0.875rem;
  font-style: normal;
  margin-top: var(--dl-layout-space-halfunit);
  transition: 0.3s;
  font-family: "Exo 2";
  font-weight: 600;
  margin-left: var(--dl-layout-space-unit);
  margin-right: var(--dl-layout-space-unit);
  margin-bottom: var(--dl-layout-space-halfunit);
  letter-spacing: -0.025rem;
  text-transform: none;
  text-decoration: none;
}
 
.header-link6:hover {
  color: var(--dl-color-gray-500);
}
 
.header-desktop-menu2 {
  flex: 1;
  display: none;
  align-items: flex-start;
  margin-right: 2vw;
  flex-direction: row;
  justify-content: flex-end;
}
 

 

 

 
@media(max-width: 768px) {
  .header-header {
    height: auto;
  }
  .header-nav {
    padding-top: var(--dl-layout-space-halfunit);
    padding-left: var(--dl-layout-space-halfunit);
    padding-right: var(--dl-layout-space-halfunit);
    padding-bottom: var(--dl-layout-space-halfunit);
  }
  .header-link1 {
    display: none;
    font-size: 0.7rem;
    font-weight: 600;
    text-decoration: none;
  }
  .header-desktop-menu1 {
    display: none;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-end;
  }
  .header-desktop-menu2 {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-end;
  }
  .header-image2 {
    margin-right: var(--dl-layout-space-halfunit);
  }
  .header-image3 {
    margin-left: var(--dl-layout-space-halfunit);
    margin-right: var(--dl-layout-space-halfunit);
  }
  .header-image4 {
    margin-left: var(--dl-layout-space-halfunit);
    margin-right: var(--dl-layout-space-halfunit);
  }
  .header-image5 {
    margin-left: var(--dl-layout-space-halfunit);
    margin-right: var(--dl-layout-space-halfunit);
  }
  .header-image6 {
    margin-left: var(--dl-layout-space-halfunit);
    margin-right: 0px;
  }
}

.tm-title-wrapper {
  display: contents;
}
 
.tm-title-container {
  display: flex;
  padding: var(--dl-layout-space-unit);
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.tm-title-text1 {
  font-size: 2.75em;
  text-align: center;
  font-family: "Noto Sans";
  background-image: radial-gradient(circle at left top, rgb(255, 255, 255) 0.00%,rgb(127, 127, 127) 100.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
 
.tm-title-text2 {
  fill: var(--dl-color-gray-700);
  color: var(--dl-color-gray-700);
  font-size: 1.5rem;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 400;
  line-height: 1.375;
  text-transform: none;
  text-decoration: none;
}
 
.services-fragment11 {
  display: contents;
}
 
.services-text11 {
  display: inline-block;
}
 
.services-fragment10 {
  display: contents;
}
 
.services-text10 {
  display: inline-block;
}
 

 
.tm-titleroot-class-name1 {
  fill: var(--dl-color-secondary-400);
  color: var(--dl-color-secondary-400);
}
 

 

 

 
.tm-titleroot-class-name5 {
  fill: var(--dl-color-secondary-400);
  color: var(--dl-color-secondary-400);
}
 
.tm-titleroot-class-name6 {
  fill: var(--dl-color-secondary-400);
  color: var(--dl-color-secondary-400);
}
 
@media(max-width: 768px) {
  .tm-title-text1 {
    font-size: 1.6em;
    text-align: center;
    line-height: 1.2;
    background-image: radial-gradient(circle at left top, rgb(255, 255, 255) 0.00%,rgb(127, 127, 127) 100.00%);
  }
  .tm-title-text2 {
    font-size: 1rem;
  }
}

.how-to-use-wrapper {
  display: contents;
}
 
.how-to-use-container2 {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-layout-space-unit);
  position: relative;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
 
.how-to-use-container {
  width: 60%;
  display: flex;
  position: relative;
  align-self: center;
  flex-direction: column;
}
 
.how-to-use-text10 {
  fill: var(--dl-color-secondary-700);
  color: var(--dl-color-secondary-700);
  font-size: 1.875rem;
  font-family: "Noto Sans";
  font-weight: 500;
  line-height: 1.375;
  margin-bottom: var(--dl-layout-space-unit);
  text-transform: none;
  text-decoration: none;
}
 
.how-to-use-text11 {
  font-size: 1.25rem;
  font-family: "Noto Sans";
  font-weight: 400;
  line-height: 1.375;
  text-transform: none;
  text-decoration: none;
}
 
.how-to-use-text12 {
  font-size: 0.85rem;
  font-family: "Merriweather";
  font-weight: 300;
  line-height: 1.625;
  text-transform: none;
  text-decoration: none;
}
 
.services-fragment12 {
  display: contents;
}
 
.services-text12 {
  width: auto;
  display: inline-block;
}
 
.services-fragment13 {
  display: contents;
}
 
.services-text19 {
  display: inline-block;
}
 
.services-fragment14 {
  display: contents;
}
 
.services-text20 {
  width: auto;
  display: inline-block;
}
 

 

 
@media(max-width: 768px) {
  .how-to-use-container {
    width: 100%;
  }
  .how-to-use-text10 {
    font-size: 1.75rem;
  }
  .how-to-use-text11 {
    font-size: 1rem;
  }
  .how-to-use-text12 {
    font-size: 0.75rem;
  }
  .services-text12 {
    width: 100%;
    margin-right: 0px;
  }
  .services-text20 {
    width: 100%;
    margin-right: 0px;
  }
}

.setup-card-wrapper {
  display: contents;
}
 
.setup-card-container2 {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-layout-space-unit);
  position: relative;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.setup-card-container1 {
  flex: 0 0 auto;
  width: 60%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
 
.setup-card-text1 {
  fill: var(--dl-color-secondary-700);
  color: var(--dl-color-secondary-700);
  font-size: 1.875rem;
  font-family: "Noto Sans";
  font-weight: 500;
  line-height: 1.375;
  margin-bottom: var(--dl-layout-space-unit);
  text-transform: none;
  text-decoration: none;
}
 
.setup-card-text2 {
  font-size: 0.85rem;
  font-family: "Merriweather";
  font-weight: 300;
  line-height: 1.625;
  margin-bottom: var(--dl-layout-space-unit);
  text-transform: none;
  text-decoration: none;
}
 
.setup-card-container3 {
  width: 60%;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  box-shadow: 5px 5px 10px #000000;
  flex-direction: column;
}
 
.setup-card-image {
  width: 100%;
  height: 100%;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  object-fit: cover;
  margin-left: 0rem;
  margin-right: 0px;
}
 
.services-fragment16 {
  display: contents;
}
 
.services-text32 {
  display: inline-block;
}
 
.services-fragment15 {
  display: contents;
}
 
.services-text26 {
  width: auto;
  display: inline-block;
}
 

 

 

 

 
@media(max-width: 768px) {
  .setup-card-container1 {
    width: 100%;
  }
  .setup-card-text1 {
    font-size: 1.75rem;
  }
  .setup-card-text2 {
    font-size: 0.8rem;
  }
  .setup-card-container3 {
    width: 100%;
    height: 100%;
  }
  .setup-card-image {
    width: 100%;
    align-self: center;
  }
  .services-text26 {
    width: 100%;
    font-size: 0.8rem;
    font-family: Merriweather;
    font-weight: 300;
    line-height: 1.625;
    margin-right: 0px;
    text-transform: none;
    text-decoration: none;
  }
  .services-text31 {
    color: var(--dl-color-secondary-400);
  }
}

.source-code-card-wrapper {
  display: contents;
}
 
.source-code-card-container2 {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-layout-space-unit);
  position: relative;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.source-code-card-container1 {
  flex: 0 0 auto;
  width: 60%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
 
.source-code-card-text10 {
  fill: var(--dl-color-secondary-700);
  color: var(--dl-color-secondary-700);
  font-size: 1.875rem;
  font-family: "Noto Sans";
  font-weight: 500;
  line-height: 1.375;
  margin-bottom: var(--dl-layout-space-unit);
  text-transform: none;
  text-decoration: none;
}
 
.source-code-card-text11 {
  font-size: 0.85rem;
  font-family: "Merriweather";
  font-weight: 300;
  line-height: 1.625;
  margin-bottom: var(--dl-layout-space-unit);
  text-transform: none;
  text-decoration: none;
}
 
.source-code-card-container3 {
  flex: 0 0 auto;
  width: 60%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
 
.source-code-card-text12 {
  color: #009656;
  font-size: 1.5rem;
  font-family: "Noto Sans";
  font-weight: 500;
  line-height: 1.375;
  margin-bottom: var(--dl-layout-space-unit);
  text-transform: none;
  text-decoration: none;
}
 
.source-code-card-text13 {
  padding: var(--dl-layout-space-unit);
  font-size: 0.85rem;
  font-family: "Courier New";
  font-weight: 300;
  line-height: 1.625;
  border-color: #005d0e;
  border-width: 3px;
  border-radius: var(--dl-layout-radius-radius75);
  margin-bottom: var(--dl-layout-space-unit);
  text-transform: none;
  text-decoration: none;
  background-color: #000000;
}
 
.source-code-card-container4 {
  width: 60%;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  box-shadow: 5px 5px 10px #000000;
  flex-direction: column;
}
 
.source-code-card-image {
  width: 100%;
  height: 100%;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  object-fit: cover;
  margin-left: 0rem;
  margin-right: 0px;
}
 
.services-fragment19 {
  display: contents;
}
 
.services-text40 {
  width: auto;
  display: inline-block;
}
 
.services-fragment20 {
  display: contents;
}
 
.services-text46 {
  color: var(--dl-color-secondary-600);
  display: inline-block;
}
 
.services-fragment18 {
  display: contents;
}
 
.services-text39 {
  display: inline-block;
}
 
.services-fragment17 {
  display: contents;
}
 
.services-text33 {
  color: rgb(0, 187, 39);
  width: auto;
  display: inline-block;
  font-size: 0.85rem;
  font-family: "Courier New";
  font-weight: 300;
  line-height: 1.625;
  text-transform: none;
  text-decoration: none;
}
 

 

 
@media(max-width: 768px) {
  .source-code-card-container1 {
    width: 100%;
  }
  .source-code-card-text10 {
    font-size: 1.75rem;
  }
  .source-code-card-text11 {
    font-size: 0.8rem;
  }
  .source-code-card-container3 {
    width: 100%;
  }
  .source-code-card-text12 {
    font-size: 1.75rem;
  }
  .source-code-card-container4 {
    width: 100%;
    height: 100%;
  }
  .source-code-card-image {
    width: 100%;
    align-self: center;
  }
  .services-text40 {
    width: 100%;
    font-family: Merriweather;
    font-weight: 300;
    line-height: 1.625;
    margin-right: 0px;
    text-transform: none;
    text-decoration: none;
  }
  .services-text41 {
    font-size: 0.8rem;
  }
  .services-text42 {
    font-size: 0.8rem;
  }
  .services-text43 {
    font-size: 0.8rem;
    font-family: Merriweather;
    font-weight: 300;
    line-height: 1.625;
    text-transform: none;
    text-decoration: none;
  }
  .services-text44 {
    font-size: 0.8rem;
    font-family: Merriweather;
    font-weight: 300;
    line-height: 1.625;
    text-transform: none;
    text-decoration: none;
  }
  .services-text33 {
    width: 100%;
    font-size: 0.8rem;
    font-family: Courier New;
    margin-right: 0px;
  }
}

.setup-card-wrapper-2o08 {
  display: contents;
}
 
.setup-card-container21 {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-layout-space-unit);
  position: relative;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.setup-card-container4 {
  flex: 0 0 auto;
  width: 60%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
 
.setup-card-text3 {
  fill: var(--dl-color-secondary-700);
  color: var(--dl-color-secondary-700);
  font-size: 1.875rem;
  font-family: "Noto Sans";
  font-weight: 500;
  line-height: 1.375;
  margin-bottom: var(--dl-layout-space-unit);
  text-transform: none;
  text-decoration: none;
}
 
.setup-card-text4 {
  font-size: 0.85rem;
  font-family: "Merriweather";
  font-weight: 300;
  line-height: 1.625;
  margin-bottom: var(--dl-layout-space-unit);
  text-transform: none;
  text-decoration: none;
}
 
.setup-card-container5 {
  width: 60%;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  box-shadow: 5px 5px 10px #000000;
  flex-direction: column;
}
 
.setup-card-image1 {
  width: 100%;
  height: 100%;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  object-fit: cover;
  margin-left: 0rem;
  margin-right: 0px;
}
 
.services-fragment22 {
  display: contents;
}
 
.services-text53 {
  display: inline-block;
}
 
.services-fragment21 {
  display: contents;
}
 
.services-text47 {
  width: auto;
  display: inline-block;
}
 

 

 

 

 
@media(max-width: 768px) {
  .setup-card-container4 {
    width: 100%;
  }
  .setup-card-text3 {
    font-size: 1.75rem;
  }
  .setup-card-text4 {
    font-size: 0.8rem;
  }
  .setup-card-container5 {
    width: 100%;
    height: 100%;
  }
  .setup-card-image1 {
    width: 100%;
    align-self: center;
  }
  .services-text47 {
    width: 100%;
    font-size: 0.8rem;
    font-family: Merriweather;
    font-weight: 300;
    line-height: 1.625;
    margin-right: 0px;
    text-transform: none;
    text-decoration: none;
  }
  .services-text52 {
    color: var(--dl-color-secondary-400);
  }
}

.tm-title-wrapper-jyhe {
  display: contents;
}
 
.tm-title-container1 {
  display: flex;
  padding: var(--dl-layout-space-unit);
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.tm-title-text3 {
  font-size: 2.75em;
  text-align: center;
  font-family: "Noto Sans";
  background-image: radial-gradient(circle at left top, rgb(255, 255, 255) 0.00%,rgb(127, 127, 127) 100.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
 
.tm-title-text4 {
  fill: var(--dl-color-gray-700);
  color: var(--dl-color-gray-700);
  font-size: 1.5rem;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 400;
  line-height: 1.375;
  text-transform: none;
  text-decoration: none;
}
 
.services-fragment24 {
  display: contents;
}
 
.services-text55 {
  display: inline-block;
}
 
.services-fragment23 {
  display: contents;
}
 
.services-text54 {
  display: inline-block;
}
 

 
.tm-titleroot-class-name1 {
  fill: var(--dl-color-secondary-400);
  color: var(--dl-color-secondary-400);
}
 

 

 

 
.tm-titleroot-class-name5 {
  fill: var(--dl-color-secondary-400);
  color: var(--dl-color-secondary-400);
}
 
.tm-titleroot-class-name6 {
  fill: var(--dl-color-secondary-400);
  color: var(--dl-color-secondary-400);
}
 
@media(max-width: 768px) {
  .tm-title-text3 {
    font-size: 1.6em;
    text-align: center;
    line-height: 1.2;
    background-image: radial-gradient(circle at left top, rgb(255, 255, 255) 0.00%,rgb(127, 127, 127) 100.00%);
  }
  .tm-title-text4 {
    font-size: 1rem;
  }
}

.service-card-wrapper {
  display: contents;
}
 
.service-card-container1 {
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-unit);
  position: relative;
  flex-wrap: wrap;
}
 
.service-card-container2 {
  width: 30%;
  display: flex;
  position: relative;
  align-self: center;
  box-shadow: 5px 5px 10px #000000;
  flex-direction: column;
}
 
.service-card-image {
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  object-fit: cover;
}
 
.service-card-container3 {
  width: 70%;
  display: flex;
  padding: var(--dl-layout-space-tripleunit);
  position: relative;
  align-self: center;
  flex-direction: column;
}
 
.service-card-text1 {
  color: var(--dl-color-secondary-700);
  font-size: 1.875rem;
  font-family: "Noto Sans";
  font-weight: 500;
  line-height: 1.375;
  text-transform: none;
  text-decoration: none;
}
 
.service-card-text2 {
  font-size: 0.85rem;
  font-family: "Merriweather";
  font-weight: 300;
  line-height: 1.625;
  text-transform: none;
  text-decoration: none;
}
 
.services-fragment26 {
  display: contents;
}
 
.services-text59 {
  display: inline-block;
}
 
.services-fragment25 {
  display: contents;
}
 
.services-text56 {
  width: auto;
  display: inline-block;
}
 

 

 
.service-cardroot-class-name2 {
  width: 100%;
}
 
@media(max-width: 768px) {
  .service-card-container2 {
    width: 100%;
    height: 100%;
  }
  .service-card-container3 {
    width: 100%;
    padding: 0px;
  }
  .service-card-text1 {
    font-size: 1.75rem;
  }
  .services-text56 {
    width: 100%;
    font-size: 0.8rem;
    font-family: Merriweather;
    font-weight: 300;
    line-height: 1.625;
    margin-right: 0px;
    text-transform: none;
    text-decoration: none;
  }
}

.service-card-wrapper-gcd3 {
  display: contents;
}
 
.service-card-container11 {
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-unit);
  position: relative;
  flex-wrap: wrap;
}
 
.service-card-container4 {
  width: 30%;
  display: flex;
  position: relative;
  align-self: center;
  box-shadow: 5px 5px 10px #000000;
  flex-direction: column;
}
 
.service-card-image1 {
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  object-fit: cover;
}
 
.service-card-container5 {
  width: 70%;
  display: flex;
  padding: var(--dl-layout-space-tripleunit);
  position: relative;
  align-self: center;
  flex-direction: column;
}
 
.service-card-text3 {
  color: var(--dl-color-secondary-700);
  font-size: 1.875rem;
  font-family: "Noto Sans";
  font-weight: 500;
  line-height: 1.375;
  text-transform: none;
  text-decoration: none;
}
 
.service-card-text4 {
  font-size: 0.85rem;
  font-family: "Merriweather";
  font-weight: 300;
  line-height: 1.625;
  text-transform: none;
  text-decoration: none;
}
 
.services-fragment28 {
  display: contents;
}
 
.services-text63 {
  display: inline-block;
}
 
.services-fragment27 {
  display: contents;
}
 
.services-text60 {
  width: auto;
  display: inline-block;
}
 

 

 
.service-cardroot-class-name2 {
  width: 100%;
}
 
@media(max-width: 768px) {
  .service-card-container4 {
    width: 100%;
    height: 100%;
  }
  .service-card-container5 {
    width: 100%;
    padding: 0px;
  }
  .service-card-text3 {
    font-size: 1.75rem;
  }
  .services-text60 {
    width: 100%;
    font-size: 0.8rem;
    font-family: Merriweather;
    font-weight: 300;
    line-height: 1.625;
    margin-right: 0px;
    text-transform: none;
    text-decoration: none;
  }
}

.service-card-wrapper-gkyx {
  display: contents;
}
 
.service-card-container12 {
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-unit);
  position: relative;
  flex-wrap: wrap;
}
 
.service-card-container6 {
  width: 30%;
  display: flex;
  position: relative;
  align-self: center;
  box-shadow: 5px 5px 10px #000000;
  flex-direction: column;
}
 
.service-card-image2 {
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  object-fit: cover;
}
 
.service-card-container7 {
  width: 70%;
  display: flex;
  padding: var(--dl-layout-space-tripleunit);
  position: relative;
  align-self: center;
  flex-direction: column;
}
 
.service-card-text5 {
  color: var(--dl-color-secondary-700);
  font-size: 1.875rem;
  font-family: "Noto Sans";
  font-weight: 500;
  line-height: 1.375;
  text-transform: none;
  text-decoration: none;
}
 
.service-card-text6 {
  font-size: 0.85rem;
  font-family: "Merriweather";
  font-weight: 300;
  line-height: 1.625;
  text-transform: none;
  text-decoration: none;
}
 
.services-fragment30 {
  display: contents;
}
 
.services-text67 {
  display: inline-block;
}
 
.services-fragment29 {
  display: contents;
}
 
.services-text64 {
  width: auto;
  display: inline-block;
}
 

 

 
.service-cardroot-class-name2 {
  width: 100%;
}
 
@media(max-width: 768px) {
  .service-card-container6 {
    width: 100%;
    height: 100%;
  }
  .service-card-container7 {
    width: 100%;
    padding: 0px;
  }
  .service-card-text5 {
    font-size: 1.75rem;
  }
  .services-text64 {
    width: 100%;
    font-size: 0.8rem;
    font-family: Merriweather;
    font-weight: 300;
    line-height: 1.625;
    margin-right: 0px;
    text-transform: none;
    text-decoration: none;
  }
}

.tm-title-wrapper-upcn {
  display: contents;
}
 
.tm-title-container2 {
  display: flex;
  padding: var(--dl-layout-space-unit);
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.tm-title-text5 {
  font-size: 2.75em;
  text-align: center;
  font-family: "Noto Sans";
  background-image: radial-gradient(circle at left top, rgb(255, 255, 255) 0.00%,rgb(127, 127, 127) 100.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
 
.tm-title-text6 {
  fill: var(--dl-color-gray-700);
  color: var(--dl-color-gray-700);
  font-size: 1.5rem;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 400;
  line-height: 1.375;
  text-transform: none;
  text-decoration: none;
}
 
.services-fragment32 {
  display: contents;
}
 
.services-text72 {
  display: inline-block;
}
 
.services-fragment31 {
  display: contents;
}
 
.services-text68 {
  display: inline-block;
}
 

 
.tm-titleroot-class-name1 {
  fill: var(--dl-color-secondary-400);
  color: var(--dl-color-secondary-400);
}
 

 

 

 
.tm-titleroot-class-name5 {
  fill: var(--dl-color-secondary-400);
  color: var(--dl-color-secondary-400);
}
 
.tm-titleroot-class-name6 {
  fill: var(--dl-color-secondary-400);
  color: var(--dl-color-secondary-400);
}
 
@media(max-width: 768px) {
  .tm-title-text5 {
    font-size: 1.6em;
    text-align: center;
    line-height: 1.2;
    background-image: radial-gradient(circle at left top, rgb(255, 255, 255) 0.00%,rgb(127, 127, 127) 100.00%);
  }
  .tm-title-text6 {
    font-size: 1rem;
  }
}

.button-light-wrapper {
  display: contents;
}
 
.button-light-container {
  display: flex;
  position: relative;
}
 
.button-light-button {
  color: var(--dl-color-gray-white);
  outline: none;
  background: linear-gradient( 310deg ,#7928ca,#ff0080);
  box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
  transition: all .15s ease-in;
  padding-top: var(--dl-layout-space-triplequarterunit);
  border-style: solid;
  border-width: 0px;
  padding-left: var(--dl-layout-space-unitandahalfunit);
  border-radius: 0px;
  padding-right: var(--dl-layout-space-unitandahalfunit);
  padding-bottom: var(--dl-layout-space-triplequarterunit);
  background-size: cover;
  background-image: linear-gradient(180deg, rgb(255, 255, 255) 0.00%,rgba(142, 168, 191, 0.67) 98.00%);
}
 
.button-light-button:hover {
  cursor: pointer;
  transform: scale(1.02);
}
 

 

 

 

 


.tm-title-wrapper-jyi3 {
  display: contents;
}
 
.tm-title-container3 {
  display: flex;
  padding: var(--dl-layout-space-unit);
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.tm-title-text7 {
  font-size: 2.75em;
  text-align: center;
  font-family: "Noto Sans";
  background-image: radial-gradient(circle at left top, rgb(255, 255, 255) 0.00%,rgb(127, 127, 127) 100.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
 
.tm-title-text8 {
  fill: var(--dl-color-gray-700);
  color: var(--dl-color-gray-700);
  font-size: 1.5rem;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 400;
  line-height: 1.375;
  text-transform: none;
  text-decoration: none;
}
 
.services-fragment34 {
  display: contents;
}
 
.services-text87 {
  display: inline-block;
}
 
.services-fragment33 {
  display: contents;
}
 
.services-text82 {
  display: inline-block;
}
 

 
.tm-titleroot-class-name1 {
  fill: var(--dl-color-secondary-400);
  color: var(--dl-color-secondary-400);
}
 

 

 

 
.tm-titleroot-class-name5 {
  fill: var(--dl-color-secondary-400);
  color: var(--dl-color-secondary-400);
}
 
.tm-titleroot-class-name6 {
  fill: var(--dl-color-secondary-400);
  color: var(--dl-color-secondary-400);
}
 
@media(max-width: 768px) {
  .tm-title-text7 {
    font-size: 1.6em;
    text-align: center;
    line-height: 1.2;
    background-image: radial-gradient(circle at left top, rgb(255, 255, 255) 0.00%,rgb(127, 127, 127) 100.00%);
  }
  .tm-title-text8 {
    font-size: 1rem;
  }
}

.button-dark-wrapper {
  display: contents;
}
 
.button-dark-container {
  display: flex;
  position: relative;
}
 
.button-dark-button {
  color: var(--dl-color-gray-white);
  outline: none;
  background: linear-gradient( 310deg ,#7928ca,#ff0080);
  box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
  transition: all .15s ease-in;
  padding-top: var(--dl-layout-space-triplequarterunit);
  border-style: solid;
  border-width: 0px;
  padding-left: var(--dl-layout-space-unitandahalfunit);
  border-radius: 0px;
  padding-right: var(--dl-layout-space-unitandahalfunit);
  padding-bottom: var(--dl-layout-space-triplequarterunit);
  background-size: cover;
  background-image: linear-gradient(180deg, rgba(72, 72, 72, 0.5) 0.00%,rgb(15, 15, 15) 98.00%);
}
 
.button-dark-button:hover {
  cursor: pointer;
  transform: scale(1.02);
}
 

 
.button-darkroot-class-name1 {
  margin-top: var(--dl-layout-space-unitandahalfunit);
  margin-left: var(--dl-layout-space-unit);
  margin-bottom: var(--dl-layout-space-unitandahalfunit);
}
 
.button-darkroot-class-name2 {
  margin-top: var(--dl-layout-space-unitandahalfunit);
  margin-left: var(--dl-layout-space-unit);
  margin-bottom: var(--dl-layout-space-unitandahalfunit);
}
 
.button-darkroot-class-name3 {
  margin-top: var(--dl-layout-space-unitandahalfunit);
  margin-left: var(--dl-layout-space-unit);
  margin-bottom: var(--dl-layout-space-unitandahalfunit);
}
 
.button-darkroot-class-name4 {
  margin-top: var(--dl-layout-space-unitandahalfunit);
  margin-bottom: var(--dl-layout-space-unitandahalfunit);
}
 
.button-darkroot-class-name5 {
  margin-top: var(--dl-layout-space-unitandahalfunit);
  margin-left: var(--dl-layout-space-unit);
  margin-bottom: var(--dl-layout-space-unitandahalfunit);
}
 
.button-darkroot-class-name6 {
  margin-top: var(--dl-layout-space-unitandahalfunit);
  margin-bottom: var(--dl-layout-space-unitandahalfunit);
}
 


.footer-wrapper {
  display: contents;
}
 
.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(0deg, rgb(0, 0, 0) 0.00%,rgba(45, 50, 64, 0.92) 100.00%);
}
 
.footer-container1 {
  color: var(--dl-color-gray-white);
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-tripleunit);
  z-index: 1;
  max-width: 1200px;
  justify-content: space-between;
}
 
.footer-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer-text10 {
  font-size: 1rem;
  font-style: normal;
  font-family: "Exo 2";
  font-weight: 400;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-text11 {
  color: rgb(210, 210, 210);
  width: 80%;
  font-size: 0.7rem;
}
 
.footer-container3 {
  display: flex;
  margin-left: var(--dl-layout-space-tripleunit);
  margin-right: var(--dl-layout-space-tripleunit);
  flex-direction: row;
}
 
.footer-container4 {
  flex: 0 0 auto;
  display: flex;
  padding-right: var(--dl-layout-space-doubleunit);
  flex-direction: column;
}
 
.footer-text18 {
  font-family: "Exo 2";
  font-weight: 700;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-navlink1 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.footer-navlink1:hover {
  color: var(--dl-color-gray-white);
}
 
.footer-navlink2 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.footer-navlink2:hover {
  color: var(--dl-color-gray-white);
}
 
.footer-navlink3 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.footer-navlink3:hover {
  color: var(--dl-color-gray-white);
}
 
.footer-navlink4 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.footer-navlink4:hover {
  color: var(--dl-color-gray-white);
}
 
.footer-link {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.footer-link:hover {
  color: var(--dl-color-gray-white);
}
 
.footer-container5 {
  flex: 0 0 auto;
  display: flex;
  padding-left: var(--dl-layout-space-doubleunit);
  flex-direction: column;
}
 
.footer-text19 {
  font-family: "Exo 2";
  font-weight: 700;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-navlink5 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.footer-navlink5:hover {
  color: var(--dl-color-gray-white);
}
 
.footer-navlink6 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.footer-navlink6:hover {
  color: var(--dl-color-gray-white);
}
 
.footer-navlink7 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.footer-navlink7:hover {
  color: var(--dl-color-gray-white);
}
 
.footer-navlink8 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.footer-navlink8:hover {
  color: var(--dl-color-gray-white);
}
 
.footer-navlink9 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.footer-navlink9:hover {
  color: var(--dl-color-gray-white);
}
 
.footer-image {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  position: absolute;
  object-fit: cover;
}
 
@media(max-width: 768px) {
  .footer-container1 {
    flex-wrap: wrap;
  }
  .footer-container2 {
    width: 100%;
    margin-bottom: var(--dl-layout-space-doubleunit);
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-text10 {
    font-size: 0.85rem;
  }
  .footer-text11 {
    font-size: 0.6rem;
  }
  .footer-text12 {
    font-size: 0.6rem;
  }
  .footer-container3 {
    width: 100%;
    align-items: flex-start;
    margin-left: 0px;
    margin-right: 0px;
    flex-direction: row;
    justify-content: flex-start;
  }
  .footer-container4 {
    padding-right: var(--dl-layout-space-doubleunit);
  }
  .footer-container5 {
    padding-left: var(--dl-layout-space-doubleunit);
    padding-right: 0px;
  }
}

.services-container1 {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.services-info1 {
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1320px;
  align-items: center;
  padding-top: 10vh;
  flex-direction: column;
  padding-bottom: 10vh;
}
 
.services-fragment10 {
  display: contents;
}
 
.services-text10 {
  display: inline-block;
}
 
.services-fragment11 {
  display: contents;
}
 
.services-text11 {
  display: inline-block;
}
 
.services-fragment12 {
  display: contents;
}
 
.services-text12 {
  width: auto;
  display: inline-block;
}
 
.services-fragment13 {
  display: contents;
}
 
.services-text19 {
  display: inline-block;
}
 
.services-fragment14 {
  display: contents;
}
 
.services-text20 {
  width: auto;
  display: inline-block;
}
 
.services-fragment15 {
  display: contents;
}
 
.services-text26 {
  width: auto;
  display: inline-block;
}
 
.services-fragment16 {
  display: contents;
}
 
.services-text32 {
  display: inline-block;
}
 
.services-fragment17 {
  display: contents;
}
 
.services-text33 {
  color: rgb(0, 187, 39);
  width: auto;
  display: inline-block;
  font-size: 0.85rem;
  font-family: "Courier New";
  font-weight: 300;
  line-height: 1.625;
  text-transform: none;
  text-decoration: none;
}
 
.services-fragment18 {
  display: contents;
}
 
.services-text39 {
  display: inline-block;
}
 
.services-fragment19 {
  display: contents;
}
 
.services-text40 {
  width: auto;
  display: inline-block;
}
 
.services-fragment20 {
  display: contents;
}
 
.services-text46 {
  color: var(--dl-color-secondary-600);
  display: inline-block;
}
 
.services-fragment21 {
  display: contents;
}
 
.services-text47 {
  width: auto;
  display: inline-block;
}
 
.services-fragment22 {
  display: contents;
}
 
.services-text53 {
  display: inline-block;
}
 
.services-info2 {
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1320px;
  align-items: center;
  padding-top: 10vh;
  flex-direction: column;
  padding-bottom: 10vh;
}
 
.services-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.services-fragment23 {
  display: contents;
}
 
.services-text54 {
  display: inline-block;
}
 
.services-fragment24 {
  display: contents;
}
 
.services-text55 {
  display: inline-block;
}
 
.services-fragment25 {
  display: contents;
}
 
.services-text56 {
  width: auto;
  display: inline-block;
}
 
.services-fragment26 {
  display: contents;
}
 
.services-text59 {
  display: inline-block;
}
 
.services-fragment27 {
  display: contents;
}
 
.services-text60 {
  width: auto;
  display: inline-block;
}
 
.services-fragment28 {
  display: contents;
}
 
.services-text63 {
  display: inline-block;
}
 
.services-fragment29 {
  display: contents;
}
 
.services-text64 {
  width: auto;
  display: inline-block;
}
 
.services-fragment30 {
  display: contents;
}
 
.services-text67 {
  display: inline-block;
}
 
.services-info3 {
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1320px;
  align-items: center;
  padding-top: 10vh;
  flex-direction: column;
  padding-bottom: 10vh;
}
 
.services-container3 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.services-fragment31 {
  display: contents;
}
 
.services-text68 {
  display: inline-block;
}
 
.services-fragment32 {
  display: contents;
}
 
.services-text72 {
  display: inline-block;
}
 
.services-text73 {
  font-style: normal;
  margin-top: var(--dl-layout-space-doubleunit);
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 500;
  margin-bottom: var(--dl-layout-space-doubleunit);
}
 
.services-google-maps {
  width: 50vw;
  height: 30vh;
}
 
.services-info4 {
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1320px;
  align-items: center;
  padding-top: 10vh;
  flex-direction: column;
  padding-bottom: 10vh;
}
 
.services-container4 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.services-fragment33 {
  display: contents;
}
 
.services-text82 {
  display: inline-block;
}
 
.services-fragment34 {
  display: contents;
}
 
.services-text87 {
  display: inline-block;
}
 
@media(max-width: 768px) {
  .services-info1 {
    width: 100%;
  }
  .services-text12 {
    width: 100%;
    margin-right: 0px;
  }
  .services-text20 {
    width: 100%;
    margin-right: 0px;
  }
  .services-text26 {
    width: 100%;
    font-size: 0.8rem;
    font-family: Merriweather;
    font-weight: 300;
    line-height: 1.625;
    margin-right: 0px;
    text-transform: none;
    text-decoration: none;
  }
  .services-text31 {
    color: var(--dl-color-secondary-400);
  }
  .services-text33 {
    width: 100%;
    font-size: 0.8rem;
    font-family: Courier New;
    margin-right: 0px;
  }
  .services-text40 {
    width: 100%;
    font-family: Merriweather;
    font-weight: 300;
    line-height: 1.625;
    margin-right: 0px;
    text-transform: none;
    text-decoration: none;
  }
  .services-text41 {
    font-size: 0.8rem;
  }
  .services-text42 {
    font-size: 0.8rem;
  }
  .services-text43 {
    font-size: 0.8rem;
    font-family: Merriweather;
    font-weight: 300;
    line-height: 1.625;
    text-transform: none;
    text-decoration: none;
  }
  .services-text44 {
    font-size: 0.8rem;
    font-family: Merriweather;
    font-weight: 300;
    line-height: 1.625;
    text-transform: none;
    text-decoration: none;
  }
  .services-text47 {
    width: 100%;
    font-size: 0.8rem;
    font-family: Merriweather;
    font-weight: 300;
    line-height: 1.625;
    margin-right: 0px;
    text-transform: none;
    text-decoration: none;
  }
  .services-text52 {
    color: var(--dl-color-secondary-400);
  }
  .services-info2 {
    width: 100%;
  }
  .services-container2 {
    width: 100%;
  }
  .services-text56 {
    width: 100%;
    font-size: 0.8rem;
    font-family: Merriweather;
    font-weight: 300;
    line-height: 1.625;
    margin-right: 0px;
    text-transform: none;
    text-decoration: none;
  }
  .services-text60 {
    width: 100%;
    font-size: 0.8rem;
    font-family: Merriweather;
    font-weight: 300;
    line-height: 1.625;
    margin-right: 0px;
    text-transform: none;
    text-decoration: none;
  }
  .services-text64 {
    width: 100%;
    font-size: 0.8rem;
    font-family: Merriweather;
    font-weight: 300;
    line-height: 1.625;
    margin-right: 0px;
    text-transform: none;
    text-decoration: none;
  }
  .services-info3 {
    width: 100%;
  }
  .services-container3 {
    width: 100%;
  }
  .services-google-maps {
    width: 75vw;
  }
  .services-info4 {
    width: 100%;
  }
  .services-container4 {
    width: 100%;
  }
}
