.button-dark-container {
  display: flex;
  position: relative;
}
 
.button-dark-button {
  color: var(--dl-color-gray-white);
  outline: none;
  background: linear-gradient( 310deg ,#7928ca,#ff0080);
  box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
  transition: all .15s ease-in;
  padding-top: var(--dl-layout-space-triplequarterunit);
  border-style: solid;
  border-width: 0px;
  padding-left: var(--dl-layout-space-unitandahalfunit);
  border-radius: 0px;
  padding-right: var(--dl-layout-space-unitandahalfunit);
  padding-bottom: var(--dl-layout-space-triplequarterunit);
  background-size: cover;
  background-image: linear-gradient(180deg, rgba(72, 72, 72, 0.5) 0.00%,rgb(15, 15, 15) 98.00%);
}
 
.button-dark-button:hover {
  cursor: pointer;
  transform: scale(1.02);
}
 

 
.button-darkroot-class-name1 {
  margin-top: var(--dl-layout-space-unitandahalfunit);
  margin-left: var(--dl-layout-space-unit);
  margin-bottom: var(--dl-layout-space-unitandahalfunit);
}
 
.button-darkroot-class-name2 {
  margin-top: var(--dl-layout-space-unitandahalfunit);
  margin-left: var(--dl-layout-space-unit);
  margin-bottom: var(--dl-layout-space-unitandahalfunit);
}
 
.button-darkroot-class-name3 {
  margin-top: var(--dl-layout-space-unitandahalfunit);
  margin-left: var(--dl-layout-space-unit);
  margin-bottom: var(--dl-layout-space-unitandahalfunit);
}
 
.button-darkroot-class-name4 {
  margin-top: var(--dl-layout-space-unitandahalfunit);
  margin-bottom: var(--dl-layout-space-unitandahalfunit);
}
 
.button-darkroot-class-name5 {
  margin-top: var(--dl-layout-space-unitandahalfunit);
  margin-left: var(--dl-layout-space-unit);
  margin-bottom: var(--dl-layout-space-unitandahalfunit);
}
 
.button-darkroot-class-name6 {
  margin-top: var(--dl-layout-space-unitandahalfunit);
  margin-bottom: var(--dl-layout-space-unitandahalfunit);
}
 

