.header-header {
  width: 100%;
  height: 80px;
  display: flex;
  z-index: 3;
  position: fixed;
  padding-left: var(--dl-layout-space-halfunit);
  padding-right: var(--dl-layout-space-halfunit);
  justify-content: center;
  background-image: linear-gradient(to bottom, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 100%);
}
 
.header-nav {
  flex: 0 0 auto;
  color: var(--dl-color-secondary-600);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unitandahalfunit);
  padding-right: var(--dl-layout-space-unitandahalfunit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-halfunit);
  justify-content: space-between;
}
 
.header-container1 {
  color: var(--dl-color-gray-black);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.header-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.header-image1 {
  width: 36px;
  filter: invert();
  height: 36px;
}
 
.header-link1 {
  color: var(--dl-color-gray-white);
  font-family: "Noto Sans";
  font-weight: 600;
  margin-left: 1vw;
  text-decoration: none;
}
 
.header-desktop-menu1 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-end;
}
 
.header-link2 {
  color: white;
  font-size: 0.875rem;
  font-style: normal;
  margin-top: var(--dl-layout-space-halfunit);
  transition: 0.3s;
  font-family: "Exo 2";
  font-weight: 600;
  margin-left: var(--dl-layout-space-unit);
  margin-right: var(--dl-layout-space-unit);
  margin-bottom: var(--dl-layout-space-halfunit);
  letter-spacing: -0.025rem;
  text-transform: none;
  text-decoration: none;
}
 
.header-link2:hover {
  color: var(--dl-color-gray-500);
}
 
.header-link3 {
  color: white;
  font-size: 0.875rem;
  font-style: normal;
  margin-top: var(--dl-layout-space-halfunit);
  transition: 0.3s;
  font-family: "Exo 2";
  font-weight: 600;
  margin-left: var(--dl-layout-space-unit);
  margin-right: var(--dl-layout-space-unit);
  margin-bottom: var(--dl-layout-space-halfunit);
  letter-spacing: -0.025rem;
  text-transform: none;
  text-decoration: none;
}
 
.header-link3:hover {
  color: var(--dl-color-gray-500);
}
 
.header-link4 {
  color: white;
  font-size: 0.875rem;
  font-style: normal;
  margin-top: var(--dl-layout-space-halfunit);
  transition: 0.3s;
  font-family: "Exo 2";
  font-weight: 600;
  margin-left: var(--dl-layout-space-unit);
  margin-right: var(--dl-layout-space-unit);
  margin-bottom: var(--dl-layout-space-halfunit);
  letter-spacing: -0.025rem;
  text-transform: none;
  text-decoration: none;
}
 
.header-link4:hover {
  color: var(--dl-color-gray-500);
}
 
.header-link5 {
  color: white;
  font-size: 0.875rem;
  font-style: normal;
  margin-top: var(--dl-layout-space-halfunit);
  transition: 0.3s;
  font-family: "Exo 2";
  font-weight: 600;
  margin-left: var(--dl-layout-space-unit);
  margin-right: var(--dl-layout-space-unit);
  margin-bottom: var(--dl-layout-space-halfunit);
  letter-spacing: -0.025rem;
  text-transform: none;
  text-decoration: none;
}
 
.header-link5:hover {
  color: var(--dl-color-gray-500);
}
 
.header-link6 {
  color: white;
  font-size: 0.875rem;
  font-style: normal;
  margin-top: var(--dl-layout-space-halfunit);
  transition: 0.3s;
  font-family: "Exo 2";
  font-weight: 600;
  margin-left: var(--dl-layout-space-unit);
  margin-right: var(--dl-layout-space-unit);
  margin-bottom: var(--dl-layout-space-halfunit);
  letter-spacing: -0.025rem;
  text-transform: none;
  text-decoration: none;
}
 
.header-link6:hover {
  color: var(--dl-color-gray-500);
}
 
.header-desktop-menu2 {
  flex: 1;
  display: none;
  align-items: flex-start;
  margin-right: 2vw;
  flex-direction: row;
  justify-content: flex-end;
}
 

 

 

 
@media(max-width: 768px) {
  .header-header {
    height: auto;
  }
  .header-nav {
    padding-top: var(--dl-layout-space-halfunit);
    padding-left: var(--dl-layout-space-halfunit);
    padding-right: var(--dl-layout-space-halfunit);
    padding-bottom: var(--dl-layout-space-halfunit);
  }
  .header-link1 {
    display: none;
    font-size: 0.7rem;
    font-weight: 600;
    text-decoration: none;
  }
  .header-desktop-menu1 {
    display: none;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-end;
  }
  .header-desktop-menu2 {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-end;
  }
  .header-image2 {
    margin-right: var(--dl-layout-space-halfunit);
  }
  .header-image3 {
    margin-left: var(--dl-layout-space-halfunit);
    margin-right: var(--dl-layout-space-halfunit);
  }
  .header-image4 {
    margin-left: var(--dl-layout-space-halfunit);
    margin-right: var(--dl-layout-space-halfunit);
  }
  .header-image5 {
    margin-left: var(--dl-layout-space-halfunit);
    margin-right: var(--dl-layout-space-halfunit);
  }
  .header-image6 {
    margin-left: var(--dl-layout-space-halfunit);
    margin-right: 0px;
  }
}
