.secondary-colored-button-container {
  display: flex;
  position: relative;
}
 
.secondary-colored-button-button {
  color: var(--dl-color-gray-white);
  outline: none;
  background: linear-gradient( 310deg ,#7928ca,#ff0080);
  box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
  transition: all .15s ease-in;
  padding-top: var(--dl-space-space-triplequarterunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: 1.875rem;
  padding-right: var(--dl-space-space-unitandahalfunit);
  padding-bottom: var(--dl-space-space-triplequarterunit);
  background-size: cover;
  background-image: linear-gradient(to right, #bdc3c7 0%, #2c3e50 100%);
}
 
.secondary-colored-button-button:hover {
  cursor: pointer;
  transform: scale(1.02);
}
 
.secondary-colored-buttonroot-class-name {
  fill: var(--dl-color-secondary-400);
  color: var(--dl-color-secondary-400);
}
 
.secondary-colored-buttonroot-class-name1 {
  fill: var(--dl-color-secondary-400);
  color: var(--dl-color-secondary-400);
}
 
.secondary-colored-buttonroot-class-name2 {
  fill: var(--dl-color-secondary-400);
  color: var(--dl-color-secondary-400);
}
 
.secondary-colored-buttonroot-class-name3 {
  fill: var(--dl-color-secondary-400);
  color: var(--dl-color-secondary-400);
}
 
.secondary-colored-buttonroot-class-name4 {
  fill: var(--dl-color-secondary-400);
  color: var(--dl-color-secondary-400);
}
 
.secondary-colored-buttonroot-class-name5 {
  fill: var(--dl-color-secondary-400);
  color: var(--dl-color-secondary-400);
}
 
.secondary-colored-buttonroot-class-name6 {
  margin-bottom: 5vh;
}
